<form>
    <p>
        <label>Usuario del sistema</label><br>
        <input type="text" class="form-control" name="username" placeholder="Ejmplo: jperez" required>
    </p>
    <p>
        <label>Contraseña</label><br>
        <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
    </p>
    <p>
        <label>Nombre(s)</label><br>
        <input type="text" class="form-control" name="name" placeholder="Ejemplo: Juan" required>
    </p>
    <p>
        <label>Apellido(s)</label><br>
        <input type="text" class="form-control" name="lastname" placeholder="Ejemplo: Perez" required>
    </p>
    <p>
        <label>E-mail</label><br>
        <input type="email" class="form-control" name="email" placeholder="Ejemplo: usuario@inai.org.mx" required>
    </p>
    <p>
        <label>Dirección</label><br>
        <input type="text" class="form-control" name="address" placeholder="Ejemplo: Av. Nuevo León 210 Col. Hipódromo">
    </p>
    <p>
        <label>¿Es administrador?</label><br>
        <select class="form-control" name="isAdmin" required>
            <option value="false">No</option>
            <option value="true">Sí</option>
        </select>
    </p>

    <p>
        <button type="submit" class="btn btn-default">Crear</button>
    </p>
</form>