<%if (parties.length === 0){ %>
<div class="alert alert-warning" role="alert">
<p>No se han registrado partes</p>
</div>
<%}%>

<%for (var i=0; i< parties.length; i++){%>
<div class="well">
    <p>
        <b> <%= parties[i].name%> </b>
    </p>
    <p>
        <%= parties[i].identifier_id %>
    </p>
    <button class="btn btn-default" name="edit_party" data-parties_id="<%= parties[i].id%>"> <i class="fa fa-edit"></i> Editar </button>

</div>
<%}%>

